/* .home {
    margin-bottom: 170px;
    background: url(../assets/webp/hero_bg.webp) center/cover no-repeat;
    height: 895px;
}

.home_wrapper {
    max-width: 420px;
    padding-top: 175px;
}

.home_title {
    font-size: 65px;
    font-weight: 700;
    color: #01996D;
}

.home_desc {
    padding: 22px 0 44px;
    color: #484848;
}
.btn {
} */