.product {
    margin-bottom: 242px;
    margin-left: 60px;
}

.product__wrapper {
    display: flex;
    gap: 86px;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.product__preview {
    max-width: 638px;
    height: 573px;
    border-radius: 18px;
    overflow: hidden;
}

.product__preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__content {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.product__info {
    font-size: 25px;
    font-weight: 600;
    color: #424242;
}

.product__title {
    font-size: 50px;
    font-weight: 700;
    color: #01996D;
}

.product__desc {
    font-size: 20px;
    color: #484848;
}

.product__content .btn{
    width: 230px;
    height: 65px;
    margin-top: 20px;
}


@media (max-width: 992px) {
    .product__title {
        font-size: 32px;
    }

    .product__content {
        max-width: 390px;
    }
}


@media (max-width: 768px) {
    .product__wrapper {
        flex-wrap: wrap;
    }

    .product__content,
    .product__preview {
        margin: 0 auto;
    }
}